body {
  padding: 0;
  margin: 0;
}

.background {
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 462px;
  height: 587, 15px;
}

.page-flex {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 604px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.github-account {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #6070ff;
  width: fit-content;
  display: inline-block;
  margin-left: 12px;
}

.nav-icon {
  cursor: pointer;
  margin-top: 10px;
  margin-right: 16px;
}

.header {
  width: 327px;
  line-height: 75px;
  margin-top: 45px;
  margin-left: 24px;
  margin-bottom: 0;
  font-family: 'poppins', sans-serif;
  font-weight: 700, bold;
  font-size: 40px;
  color: #172b4d;
}

.introduction {
  width: 327px;
  height: 150px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 24px;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.contact {
  display: flex;
  flex-direction: column;
  font-style: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  margin-left: 24px;
  margin-bottom: 0;
}

.contact-icons {
  display: flex;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.icons-list {
  display: flex;
  gap: 15px;
}
